.card {
  border: 1px solid hsl(260, 70%, 15%, 0.1);
  border-radius: var(--border-radius-cards);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: box-shadow 0.5s ease-in-out;
  width: 100%;
}

.card:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5), -5px 4px 8px rgba(0, 0, 0, 0.5);
}