@import "./reset.css";
@import "./variables.css";

/* Scroll Animation */
.appear-animation {
  opacity: 0;
  transform: translateY(200px);
  will-change: opacity, transform;
}

.appear-active {
  animation: fadeUp 0.9s cubic-bezier(.57,.21,0,1.06) forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
