:root {
  /* Color and Backgrounds */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --primary-color: hsl(260, 70%, 15%);
  --secondary-color: hsl(174, 80%, 45%);
  --tertiary-color: hsl(260, 70%, 20%);

  /* Transform */
  --menu-translate-y: -20px;

  /* Animations */
  --menu-animation: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  --translate-y: -20px;

  /* padding, margin */
  --logo-padding-left: 16px;
  --padding-menu-items: 5px 25px 25px 25px;

  /* images size && icons*/
  --flags-width-size: 20px;
  --flags-height-size: 15px;
  --logo-size: 40px;
  --icon-size:28px;

  /* Fonts */
  --image-header-title-mobile:1.2rem;
  --padding-header-x:35px;
  --padding-header-y:50px;
  --image-caption-size-mobile:0.8rem;
  --image-caption-size-tablet:0.9rem;
  --image-caption-size-desktop:1.4rem;
  --line-height-titles:1;
  --title-sections: clamp(1.8rem, 8vw - 1.75rem, 2.5rem);
  
  /* Animations */
  --animation-duration:1s;
  
  /* Sections Width */
  --section-width:1200px;
}